@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Библиотека</title>
</head>
<body>
    <div>
        <h3>Успейте взять книгу по акционной цене!</h3>
        <table>
            <tr>
                <td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Взята раз</p></td>
                <td><p>Взята ли сейчас</p></td>
                <td><p>Кем взята</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Taken раз</p></td>
                    <td><p>@b.IsTaken</p></td>
                    <td><p>@b.TakenByWho</p></td>
                    <td><p>@b.Price грн.</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Взять</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>